$outer-width: 960px;
$inner-width: 640px;

@import "_mixins.scss";
@import "_header.scss";
@import "_article.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cardo, serif;
  font-size: 20px;
  color: #111;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

.site {
  @include responsive-width($outer-width);
  margin: 0 auto;
}

.footer {
  @include responsive-width($inner-width);

  margin: 50px 0 0;
  text-align: center;
  padding: 50px 0;
  color: #111;
  font-size: .8em;
  margin: 0 auto;
}

.list {
  @include responsive-width($inner-width);
  margin: 0 auto;
  margin-top: 2px;
  padding: 0 1em;

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__date {
    color: #555;
  }
}

.message {
  text-align: center;
  color: #555;
}

.marked {
  &::after {
    content: '';
    display: block;
    bottom: .15em;
    left: -.25em;
    width: 4.9em;
    height: .5em;
    background: #FFFFA0;

    position: absolute;
    z-index: -1;
  }
}

