<article class="article">
  {{if eq .Type "post" }}
  <span class="article__meta">
    {{- .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}
    &middot;
    {{ div .FuzzyWordCount 180 -}}m
    {{ with .Params.tags }}
    &middot;
    {{ $len := len . }}
    {{ range $i, $tag := . }}
      <a href="/tags/{{ urlize $tag }}">{{ urlize $tag }}</a>
      {{- $index := add $i 1 -}}
      {{- if ne $index $len -}}
      ,
      {{- end }}
    {{ end }}
    {{ end }}
  </span>
  {{ end  }}
  <h1 class="article__heading"><a href="{{ .Permalink }}">{{ .Title  }}</a></h1>
  {{ .Content  }}
</article>

